<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Count</th>
      <th>Image</th>
      <th>Palette</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% bead_packs.each do |bead_pack| %>
      <tr>
        <td><%= bead_pack.name %></td>
        <td><%= bead_pack.bead_type %></td>
        <td><%= bead_pack.size %></td>
        <td><%= bead_pack.count %></td>
        <td><%= image_tag(bead_pack.picture_url, width: 60, class: "img-thumbnail") if bead_pack.picture.present? %></td>
        <td><%= print_color_palette bead_pack %></td>
        <td><%= link_to 'Show', bead_pack, class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_bead_pack_path(bead_pack), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', bead_pack, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>