<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @bead_pack.count %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bead_pack.bead_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @bead_pack.size %>
</p>


<p>
  <strong>Name:</strong>
  <%= @bead_pack.name %>
</p>

<p>
  <%= image_tag(@bead_pack.picture_url, width: 600) if @bead_pack.picture.present? %>
</p>

<%= link_to 'Edit', edit_bead_pack_path(@bead_pack) %> |
<%= link_to 'Back', bead_packs_path %>
